<a href="https://colab.research.google.com/github/stephanyresque/projeto-IBM/blob/main/projeto_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## O dataset

O dataset a ser utilizado é o *IBM HR Analytics Employee Attrition & Performance*, disponível no Kaggle. O dataset contém informações sobre funcionários de uma empresa fictícia, como idade, gênero, estado civil, nível de satisfação, entre outros. O objetivo é prever a probabilidade de um funcionário sair da empresa.

[Link do Kaggle](https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset/data)

Os termos *attrition* ("atrito") e *turnover* ("rotatividade") são frequentemente usados de forma intercambiável no contexto de recursos humanos e gestão de força de trabalho, mas eles se referem a conceitos ligeiramente diferentes em relação às mudanças no número e na composição dos empregados dentro de uma organização. Compreender a distinção entre esses dois é importante para analisar e relatar com precisão a dinâmica da força de trabalho.

### Atrito

Atrito refere-se à redução gradual de empregados por meio de circunstâncias naturais, como aposentadoria, demissão voluntária por motivos pessoais, ou a decisão de não substituir empregados que estão de saída. Atrito pode levar a uma diminuição no tamanho da força de trabalho, mas é caracterizado por sua natureza voluntária e muitas vezes incontrolável. Organizações podem permitir o atrito para reduzir o tamanho de sua força de trabalho sem recorrer a demissões, vendo isso como uma forma menos disruptiva de ajustar seus níveis de pessoal.

Em análises, quando você está analisando um conjunto de dados para atrito, você frequentemente olha para as razões por trás das saídas voluntárias e a taxa na qual estas ocorrem naturalmente ao longo do tempo. Taxas de atrito podem fornecer insights sobre a satisfação dos empregados e tendências de longo prazo da força de trabalho.

### Rotatividade

Rotatividade, por outro lado, engloba um escopo mais amplo de partidas de empregados, incluindo tanto renúncias voluntárias quanto demissões involuntárias (como demissões ou términos por justa causa). Porém, ocorre a substituição da força de trabalho. Rotatividade é uma medida de quantos empregados estão deixando a companhia por qualquer motivo. Uma alta taxa de rotatividade pode indicar problemas com satisfação no trabalho, cultura do local de trabalho, ou estabilidade organizacional, e frequentemente requer ação da gestão para endereçar as causas subjacentes.

Rotatividade é calculada dividindo o número de empregados que saem pelo número médio de empregados, geralmente em uma base anual, e expressando isso como uma porcentagem. Esta métrica é crucial para entender como as saídas de empregados, tanto voluntárias quanto involuntárias, afetam a capacidade da organização de manter uma força de trabalho estável e eficaz.

### Diferenças Chave

- **Natureza**: Atrito geralmente é voluntário e pode ser devido a fatores naturais ou incontroláveis, enquanto rotatividade inclui tanto saídas voluntárias quanto demissões involuntárias.
- **Implicações para Gestão**: Atrito pode ser parte de uma estratégia de ajuste natural da força de trabalho e nem sempre é negativo, enquanto alta rotatividade é frequentemente um sinal de problemas dentro da organização que precisam ser abordados.
- **Foco Estratégico**: Análise de atrito pode focar em entender tendências de longo prazo da força de trabalho e planejamento de aposentadoria, enquanto análise de rotatividade é frequentemente usada para identificar questões imediatas com satisfação de empregados, engajamento, ou práticas de gestão que podem estar impactando a retenção de staff.

Enquanto ambos atrito e rotatividade lidam com empregados deixando a organização, eles diferem em seu escopo e as implicações estratégicas para gerenciar e entender a dinâmica da força de trabalho. No seu conjunto de dados de empregados, distinguir entre atrito e rotatividade pode ajudar na customização de estratégias para planejamento da força de trabalho, retenção e desenvolvimento organizacional.

|    | Name                       | Description                                                                                                                                                    |
|---:|:---------------------------|:---------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  0 | Age                        | Numerical Value                                                                                                                                                |
|  1 | Attrition                  | Employee leaving the company - Text - No, Yes                                                                                                                     |
|  2 | BusinessTravel            | Text - Non-Travel, Travel_Frequently, Travel_Rarely                                                                                                             |
|  3 | DailyRate                 | Numerical Value - Salary Level                                                                                                                                 |
|  4 | Department                 | Text - Sales, Research & Development, Human Resources                                                                                                         |
|  5 | DistanceFromHome         | Numerical Value - the distance from work to home in miles
|  6 | Education                  | Numerical Value - 1=Below college, 2=College, 3=Bachelor, 4=Master, 5=PhD   |
|  7 | EducationField            | Text - Life Sciences, Medical, Marketing, Techincal Degree, Human Resources, Other                                                                                   |
|  8 | EmployeeCount             | Numerical Value - 1                                                                                                                                               |
|  9 | EmployeeNumber            | Numerical Value - Employee ID                                                                                                                                  |
| 10 | EnvironmentSatisfaction    | Numerical Value - 1=Low, 2=Medium, 3=High, 4=Very High |
| 11 | Gender                     | Text - Female, Male                                                                                                                                             |
| 12 | HourlyRate                | Numerical Value - Hourly Salary                                                                                                                                |
| 13 | JobInvolvement            | Numerical Value - 1=Low, 2=Medium, 3=High, 4=Very High                                                                                                         |
| 14 | JobLevel                  | Numerical Value - 1, 2, 3, 4, 5. Means different job levels                                                                                                     |
| 15 | JobRole                   | Text - Sales Executive, Research Scientist, Laboratory Technician, Manufacturing Director, Healthcare Representative, Manager, Sales Representative, Research Director, Human Resources |
| 16 | JobSatisfaction           | Numerical Value - 1=Low, 2=Medium, 3=High, 4=Very High                                                                                                         |
| 17 | MaritalStatus             | Text - Single, Married, Divorced                                                                                                                                      |
| 18 | MonthlyIncome             | Numerical Value - Monthly Salary                                                                                                                               |
| 19 | MonthlyRate                | Numerical Value - Monthly Rate                                                                                                                                  |
| 20 | NumCompaniesWorked        | Numerical Value - Number of companies worked at                                                                                                                |
| 21 | Over18                    | Text - Y                                                                                                                                                    |
| 22 | Overtime                   | Text - No, Yes                                                                                                                                                    |
| 23 | PercentSalaryHike        | Numerical Value - Percentage increase in salary                                                                                                                |
| 24 | PerformanceRating         | Numerical Value - 1=Low, 2=Good, 3=Excellent, 4=Outstanding                                                                                                    |
| 25 | RelationshipSatisfaction  | Numerical Value - 1=Low, 2=Medium, 3=High, 4=Very High                                                                                                         |
| 26 | StandardHours             | Numerical Value - 80                                                                                                                                            |
| 27 | StockOptionsLevel        | Numerical Value - 0, 1, 2, 3                                                                                                                                    |
| 28 | TotalWorkingYears        | Numerical Value - Total years worked                                                                                                                            |
| 29 | TrainingTimesLastYear   | Numerical Value - How many times the employee has been trained last year                                                                                       |
| 30 | WorkLifeBalance          | Numerical Value - 1=Bad, 2=Good, 3=Better, 4=Best                                                                                                              |
| 31 | YearsAtCompany           | Numerical Value - Number of years at the company                                                                                                                |
| 32 | YearsInCurrentRole      | Numerical Value -Number of years in current role                                                                                                                |
| 33 | YearsSinceLastPromotion | Numerical Value - Years since last promotion                                                                                                                    |
| 34 | YearsWithCurrManager | Numerical Value - Years with current manager                                                                                                                    |

In [148]:
import pandas as pd

BASE = 'employee_attrition.csv'

df = pd.read_csv(BASE)

# Checagem básica

- shape
- colunas
- tipos
- valores nulos
- valores "estranhos"
- valores únicos
- valores duplicados
- contagem de valores relevantes

In [149]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [150]:
with pd.option_context('display.max_columns', 35):
  display(df.head())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [151]:
df.shape

(1470, 35)

In [152]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [154]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [155]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [156]:
with pd.option_context('float_format', '{:.2f}'.format,'display.max_columns', 35):
  display(df.describe())

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00
mean,36.92,802.49,9.19,2.91,1.00,1024.87,2.72,65.89,2.73,2.06,2.73,6502.93,14313.10,2.69,15.21,3.15,2.71,80.00,0.79,11.28,2.80,2.76,7.01,4.23,2.19,4.12
std,9.14,403.51,8.11,1.02,0.00,602.02,1.09,20.33,0.71,1.11,1.10,4707.96,7117.79,2.50,3.66,0.36,1.08,0.00,0.85,7.78,1.29,0.71,6.13,3.62,3.22,3.57
min,18.00,102.00,1.00,1.00,1.00,1.00,1.00,30.00,1.00,1.00,1.00,1009.00,2094.00,0.00,11.00,3.00,1.00,80.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
25%,30.00,465.00,2.00,2.00,1.00,491.25,2.00,48.00,2.00,1.00,2.00,2911.00,8047.00,1.00,12.00,3.00,2.00,80.00,0.00,6.00,2.00,2.00,3.00,2.00,0.00,2.00
50%,36.00,802.00,7.00,3.00,1.00,1020.50,3.00,66.00,3.00,2.00,3.00,4919.00,14235.50,2.00,14.00,3.00,3.00,80.00,1.00,10.00,3.00,3.00,5.00,3.00,1.00,3.00
75%,43.00,1157.00,14.00,4.00,1.00,1555.75,4.00,83.75,3.00,3.00,4.00,8379.00,20461.50,4.00,18.00,3.00,4.00,80.00,1.00,15.00,3.00,3.00,9.00,7.00,3.00,7.00
max,60.00,1499.00,29.00,5.00,1.00,2068.00,4.00,100.00,4.00,5.00,4.00,19999.00,26999.00,9.00,25.00,4.00,4.00,80.00,3.00,40.00,6.00,4.00,40.00,18.00,15.00,17.00

In [157]:
df.describe(exclude = 'number')

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
count,1470,1470,1470,1470,1470,1470,1470,1470,1470
unique,2,3,3,6,2,9,3,1,2
top,No,Travel_Rarely,Research & Development,Life Sciences,Male,Sales Executive,Married,Y,No
freq,1233,1043,961,606,882,326,673,1470,1054

OBS.: *O dataset é desbalanceado, ou seja, a quantidade de funcionários que saíram da empresa é muito menor que a quantidade de funcionários que permaneceram na empresa. Isso pode influenciar na análise dos dados.*

A coluna "Attrition" é a coluna que indica se o funcionário saiu da empresa ou não. Ela é a chama coluna alvo, ou target. Esse nome é dado pois é a coluna que queremos avaliar e prever.

In [158]:
df.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [159]:
df.duplicated().sum()

0

In [160]:
df.select_dtypes('object').nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [161]:
df.select_dtypes('object')

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Yes,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,No,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Yes,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,No,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
...,...,...,...,...,...,...,...,...,...
1465,No,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
1466,No,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,Y,No
1467,No,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Y,Yes
1468,No,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,Y,No
1469,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

In [162]:
df.select_dtypes('number')

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,3,80,1,17,3,3,5,2,0,3
1466,39,613,6,1,1,2062,4,42,2,3,...,1,80,1,9,5,3,7,7,1,7
1467,27,155,4,3,1,2064,2,87,4,2,...,2,80,1,6,0,3,6,2,0,3
1468,49,1023,2,3,1,2065,4,63,2,2,...,4,80,0,17,3,2,9,6,0,8
1469,34,628,8,3,1,2068,2,82,4,2,...,1,80,0,6,3,4,4,3,1,2

## Buscando outliers

**Explicando quartis e outliers**

Quartis são valores que dividem um conjunto de dados em quatro partes iguais. O primeiro quartil (Q1) é o valor que deixa 25% dos dados abaixo e 75% acima. O segundo quartil (Q2) é a mediana, que deixa 50% dos dados abaixo e 50% acima. O terceiro quartil (Q3) deixa 75% dos dados abaixo e 25% acima.

Por exemplo, se temos um conjunto de dados com 100 valores, o primeiro quartil (Q1) será o valor que deixa 25 valores abaixo e 75 acima. O segundo quartil (Q2) será o valor que deixa 50 valores abaixo e 50 acima. O terceiro quartil (Q3) será o valor que deixa 75 valores abaixo e 25 acima.

Outliers são valores que fogem do padrão do conjunto de dados. São valores muito altos ou muito baixos que podem influenciar negativamente na análise dos dados. Por exemplo, se temos um conjunto de dados com salários de funcionários de uma empresa, e um dos salários é muito maior que os outros, esse salário pode ser considerado um outlier.

Estatisticamente, um outlier é um valor que está a mais de 1,5 vezes o intervalo interquartil acima do terceiro quartil (Q3) ou a mais de 1,5 vezes o intervalo interquartil abaixo do primeiro quartil (Q1). O intervalo interquartil é a diferença entre o terceiro quartil (Q3) e o primeiro quartil (Q1).

In [163]:
with pd.option_context('float_format', '{:.2f}'.format,'display.max_columns', 35):
  display(df.describe())

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00
mean,36.92,802.49,9.19,2.91,1.00,1024.87,2.72,65.89,2.73,2.06,2.73,6502.93,14313.10,2.69,15.21,3.15,2.71,80.00,0.79,11.28,2.80,2.76,7.01,4.23,2.19,4.12
std,9.14,403.51,8.11,1.02,0.00,602.02,1.09,20.33,0.71,1.11,1.10,4707.96,7117.79,2.50,3.66,0.36,1.08,0.00,0.85,7.78,1.29,0.71,6.13,3.62,3.22,3.57
min,18.00,102.00,1.00,1.00,1.00,1.00,1.00,30.00,1.00,1.00,1.00,1009.00,2094.00,0.00,11.00,3.00,1.00,80.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
25%,30.00,465.00,2.00,2.00,1.00,491.25,2.00,48.00,2.00,1.00,2.00,2911.00,8047.00,1.00,12.00,3.00,2.00,80.00,0.00,6.00,2.00,2.00,3.00,2.00,0.00,2.00
50%,36.00,802.00,7.00,3.00,1.00,1020.50,3.00,66.00,3.00,2.00,3.00,4919.00,14235.50,2.00,14.00,3.00,3.00,80.00,1.00,10.00,3.00,3.00,5.00,3.00,1.00,3.00
75%,43.00,1157.00,14.00,4.00,1.00,1555.75,4.00,83.75,3.00,3.00,4.00,8379.00,20461.50,4.00,18.00,3.00,4.00,80.00,1.00,15.00,3.00,3.00,9.00,7.00,3.00,7.00
max,60.00,1499.00,29.00,5.00,1.00,2068.00,4.00,100.00,4.00,5.00,4.00,19999.00,26999.00,9.00,25.00,4.00,4.00,80.00,3.00,40.00,6.00,4.00,40.00,18.00,15.00,17.00

In [164]:
1.5 * (43 - 30) #intervalo interquatil -> para idade!

19.5

In [165]:
30 - 1.5 * (43 - 30) #qualquer valor abaixo de 10.5 seria considerado um outlier para menos

10.5

In [166]:
43 + 1.5 * (43 - 30) #qualquer valor acima de 62.5 seria considerado um outlier para mais

62.5

In [167]:
#para DistanceFromHome

1.5 * (14 - 2)

18.0

In [168]:
2 - 1.5 * (14 - 2)

-16.0

In [169]:
14 + 1.5 * (14 - 2)
#tbm não temos outliers

32.0

In [170]:
#para TotalWorkingYears

1.5 * (15 - 6)

13.5

In [171]:
6 - 1.5 * (15 - 6)

-7.5

In [172]:
15 + 1.5 * (15 - 6)
#temos um outlier

28.5

In [173]:
#MonthlyIncome	MonthlyRate

1.5 * (8379-2911)

8202.0

In [174]:
2911 - 1.5 * (8379-2911)

-5291.0

In [175]:
8379 +1.5 * (8379-2911)
#tbm há outlier

16581.0

In [176]:
1.5 * (20461 - 8047)

18621.0

In [177]:
8047 - 1.5 * (20461 - 8047)

-10574.0

In [178]:
20461 + 1.5 * (20461 - 8047)

39082.0

# Primeiras alterações

In [179]:
with pd.option_context('display.max_columns', 35):
  display(df.head())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [180]:
#EmployeeCount, Over18, StandardHours

df = df.drop(['EmployeeCount', 'Over18', 'StandardHours', 'EmployeeNumber'], axis=1) #axis para mostrar que é um eixo de coluna a ser removido

In [181]:
with pd.option_context('display.max_columns', 35):
  display(df.head())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Yes,11,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,No,23,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Yes,15,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Yes,11,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,No,12,3,4,1,6,3,3,2,2,2,2

In [182]:
with pd.option_context('float_format', '{:.2f}'.format,'display.max_columns', 35):
  display(df.describe())

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00
mean,36.92,802.49,9.19,2.91,2.72,65.89,2.73,2.06,2.73,6502.93,14313.10,2.69,15.21,3.15,2.71,0.79,11.28,2.80,2.76,7.01,4.23,2.19,4.12
std,9.14,403.51,8.11,1.02,1.09,20.33,0.71,1.11,1.10,4707.96,7117.79,2.50,3.66,0.36,1.08,0.85,7.78,1.29,0.71,6.13,3.62,3.22,3.57
min,18.00,102.00,1.00,1.00,1.00,30.00,1.00,1.00,1.00,1009.00,2094.00,0.00,11.00,3.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
25%,30.00,465.00,2.00,2.00,2.00,48.00,2.00,1.00,2.00,2911.00,8047.00,1.00,12.00,3.00,2.00,0.00,6.00,2.00,2.00,3.00,2.00,0.00,2.00
50%,36.00,802.00,7.00,3.00,3.00,66.00,3.00,2.00,3.00,4919.00,14235.50,2.00,14.00,3.00,3.00,1.00,10.00,3.00,3.00,5.00,3.00,1.00,3.00
75%,43.00,1157.00,14.00,4.00,4.00,83.75,3.00,3.00,4.00,8379.00,20461.50,4.00,18.00,3.00,4.00,1.00,15.00,3.00,3.00,9.00,7.00,3.00,7.00
max,60.00,1499.00,29.00,5.00,4.00,100.00,4.00,5.00,4.00,19999.00,26999.00,9.00,25.00,4.00,4.00,3.00,40.00,6.00,4.00,40.00,18.00,15.00,17.00

In [199]:
# df[df['Age'] > df['Age'].median()].sort_values(by = 'Age').tail(10)

df.nlargest(10, 'Age')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
411,60,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,Female,...,3,4,0,33,5,1,29,8,11,10
427,60,No,Travel_Frequently,1499,Sales,28,3,Marketing,3,Female,...,3,4,0,22,5,4,18,13,13,11
536,60,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,Male,...,3,4,0,10,1,3,2,2,2,2
879,60,No,Travel_Rarely,696,Sales,7,4,Marketing,2,Male,...,3,2,1,12,3,3,11,7,1,9
1209,60,No,Travel_Rarely,370,Research & Development,1,4,Medical,3,Male,...,4,3,1,19,2,4,1,0,0,0
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,3,Female,...,4,1,3,12,3,2,1,0,0,0
63,59,No,Travel_Rarely,1435,Sales,25,3,Life Sciences,1,Female,...,3,4,0,28,3,2,21,16,7,9
70,59,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,1,Female,...,3,4,0,20,2,2,4,3,1,3
105,59,No,Non-Travel,1420,Human Resources,2,4,Human Resources,3,Female,...,4,4,1,30,3,3,3,2,2,2
225,59,No,Travel_Rarely,142,Research & Development,3,3,Life Sciences,3,Male,...,3,1,1,7,6,3,1,0,0,0

In [200]:
# df[df['Age'] <= df['Age'].median()].sort_values(by = 'Age').head(10)

df.nsmallest(10, 'Age')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
296,18,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,3,Male,...,3,3,0,0,2,3,0,0,0,0
301,18,No,Travel_Rarely,812,Sales,10,3,Medical,4,Female,...,3,1,0,0,2,3,0,0,0,0
457,18,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,2,Male,...,3,4,0,0,3,3,0,0,0,0
727,18,No,Non-Travel,287,Research & Development,5,2,Life Sciences,2,Male,...,3,4,0,0,2,3,0,0,0,0
828,18,Yes,Non-Travel,247,Research & Development,8,1,Medical,3,Male,...,3,4,0,0,0,3,0,0,0,0
972,18,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,4,Female,...,3,3,0,0,5,4,0,0,0,0
1153,18,Yes,Travel_Frequently,544,Sales,3,2,Medical,2,Female,...,3,3,0,0,2,4,0,0,0,0
1311,18,No,Non-Travel,1431,Research & Development,14,3,Medical,2,Female,...,3,3,0,0,4,1,0,0,0,0
127,19,Yes,Travel_Rarely,528,Sales,22,1,Marketing,4,Male,...,3,4,0,0,2,2,0,0,0,0
149,19,No,Travel_Rarely,1181,Research & Development,3,1,Medical,2,Female,...,3,4,0,1,3,3,1,0,0,0

In [201]:
# df[df['YearsAtCompany'] > df['YearsAtCompany'].median()].sort_values(by = 'YearsAtCompany').tail(10)

df.nlargest(10, 'YearsAtCompany')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
126,58,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,4,Female,...,3,4,1,40,3,2,40,10,15,6
98,58,No,Travel_Rarely,682,Sales,10,4,Medical,4,Male,...,3,3,0,38,1,2,37,10,1,8
270,55,No,Travel_Rarely,452,Research & Development,1,3,Medical,4,Male,...,3,3,0,37,2,3,36,10,4,13
1116,55,No,Travel_Rarely,685,Sales,26,5,Marketing,3,Male,...,4,3,1,36,3,3,36,6,2,13
561,52,No,Travel_Rarely,621,Sales,3,4,Marketing,3,Male,...,3,1,0,34,3,4,34,6,1,16
190,52,No,Travel_Rarely,699,Research & Development,1,4,Life Sciences,3,Male,...,3,1,1,34,5,3,33,18,11,9
237,52,No,Non-Travel,771,Sales,2,4,Life Sciences,1,Male,...,3,4,0,33,2,4,33,7,15,12
914,55,No,Non-Travel,177,Research & Development,8,1,Medical,4,Male,...,3,4,1,34,3,3,33,9,15,0
962,51,No,Travel_Rarely,770,Human Resources,5,3,Life Sciences,3,Male,...,3,2,1,33,2,3,33,9,0,10
1111,53,Yes,Travel_Rarely,607,Research & Development,2,5,Technical Degree,3,Female,...,3,2,1,34,4,3,33,7,1,9

In [202]:
# df[df['YearsAtCompany'] <= df['YearsAtCompany'].median()].sort_values(by = 'YearsAtCompany').head(10)

df.nsmallest(10, 'YearsAtCompany')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,3,Male,...,3,4,0,0,6,3,0,0,0,0
77,45,No,Travel_Rarely,193,Research & Development,6,4,Other,4,Male,...,3,2,0,17,3,4,0,0,0,0
86,23,No,Travel_Rarely,541,Sales,2,1,Technical Degree,3,Male,...,3,3,1,3,3,3,0,0,0,0
109,22,No,Travel_Rarely,534,Research & Development,15,3,Medical,2,Female,...,3,3,0,1,5,3,0,0,0,0
127,19,Yes,Travel_Rarely,528,Sales,22,1,Marketing,4,Male,...,3,4,0,0,2,2,0,0,0,0
171,19,Yes,Travel_Frequently,602,Sales,1,1,Technical Degree,3,Female,...,4,1,0,1,5,4,0,0,0,0
264,28,Yes,Travel_Rarely,529,Research & Development,2,4,Life Sciences,1,Male,...,3,3,0,5,5,1,0,0,0,0
265,29,No,Travel_Rarely,1210,Sales,2,3,Medical,1,Male,...,3,2,2,10,2,3,0,0,0,0
296,18,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,3,Male,...,3,3,0,0,2,3,0,0,0,0

In [203]:
# df[df['YearsSinceLastPromotion'] > df['YearsSinceLastPromotion'].median()].sort_values(by = 'YearsSinceLastPromotion').tail(10)

df.nlargest(10, 'YearsSinceLastPromotion')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
45,41,Yes,Travel_Rarely,1360,Research & Development,12,3,Technical Degree,2,Female,...,3,4,0,23,0,3,22,15,15,8
123,51,No,Travel_Rarely,684,Research & Development,6,3,Life Sciences,1,Male,...,3,3,0,23,5,3,20,18,15,15
126,58,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,4,Female,...,3,4,1,40,3,2,40,10,15,6
178,46,No,Travel_Rarely,526,Sales,1,2,Marketing,2,Female,...,4,3,3,24,2,3,24,13,15,7
237,52,No,Non-Travel,771,Sales,2,4,Life Sciences,1,Male,...,3,4,0,33,2,4,33,7,15,12
425,50,No,Travel_Rarely,1099,Research & Development,29,4,Life Sciences,2,Male,...,3,2,1,28,2,3,27,10,15,7
701,53,No,Travel_Rarely,1376,Sales,2,2,Medical,3,Male,...,3,3,1,22,3,4,17,13,15,2
752,36,Yes,Travel_Rarely,885,Research & Development,16,4,Life Sciences,3,Female,...,3,3,0,18,1,3,17,13,15,14
861,46,No,Travel_Rarely,1402,Sales,2,3,Marketing,3,Female,...,4,1,0,28,2,3,26,15,15,9
914,55,No,Non-Travel,177,Research & Development,8,1,Medical,4,Male,...,3,4,1,34,3,3,33,9,15,0

In [207]:
df.nlargest(10, 'YearsSinceLastPromotion')[['Age','JobRole','Department','YearsSinceLastPromotion','JobLevel']]

,Age,JobRole,Department,YearsSinceLastPromotion,JobLevel
45,41,Research Director,Research & Development,15,5
123,51,Research Director,Research & Development,15,5
126,58,Healthcare Representative,Research & Development,15,3
178,46,Sales Executive,Sales,15,3
237,52,Manager,Sales,15,5
425,50,Manager,Research & Development,15,4
701,53,Manager,Sales,15,4
752,36,Laboratory Technician,Research & Development,15,1
861,46,Manager,Sales,15,4
914,55,Healthcare Representative,Research & Development,15,4

In [204]:
# df[df['YearsSinceLastPromotion'] <= df['YearsSinceLastPromotion'].median()].sort_values(by = 'YearsSinceLastPromotion').head(10)

df.nsmallest(10, 'YearsSinceLastPromotion')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,3,Female,...,4,1,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,4,Male,...,4,2,1,1,2,3,1,0,0,0
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,Male,...,3,3,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,4,Female,...,3,4,0,10,3,3,9,5,0,8
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,3,Male,...,3,2,0,6,4,3,4,2,0,3
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,Male,...,3,4,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,4,Male,...,3,2,2,1,2,2,1,0,0,0
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,3,Male,...,4,2,0,10,4,3,5,3,0,3

In [208]:
df.nsmallest(10, 'YearsSinceLastPromotion')[['Age','JobRole','Department','YearsSinceLastPromotion','JobLevel']]

,Age,JobRole,Department,YearsSinceLastPromotion,JobLevel
0,41,Sales Executive,Sales,0,2
2,37,Laboratory Technician,Research & Development,0,1
6,59,Laboratory Technician,Research & Development,0,1
7,30,Laboratory Technician,Research & Development,0,1
10,35,Laboratory Technician,Research & Development,0,1
11,29,Laboratory Technician,Research & Development,0,2
14,28,Laboratory Technician,Research & Development,0,1
16,32,Research Scientist,Research & Development,0,1
17,22,Laboratory Technician,Research & Development,0,1
21,36,Sales Representative,Sales,0,1

# Agrupamentos

In [205]:
with pd.option_context('display.max_columns', 35):
  display(df.head())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Yes,11,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,No,23,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Yes,15,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Yes,11,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,No,12,3,4,1,6,3,3,2,2,2,2

In [190]:
df.groupby(['Department', 'Attrition']).size()

Department              Attrition
Human Resources         No            51
                        Yes           12
Research & Development  No           828
                        Yes          133
Sales                   No           354
                        Yes           92
dtype: int64

In [191]:
df.groupby(['Department', 'Attrition'])['MonthlyIncome'].mean()

Department              Attrition
Human Resources         No           7345.980392
                        Yes          3715.750000
Research & Development  No           6630.326087
                        Yes          4108.075188
Sales                   No           7232.240113
                        Yes          5908.456522
Name: MonthlyIncome, dtype: float64

In [192]:
df.groupby(['Department', 'Attrition'])['Gender'].value_counts()

Department              Attrition  Gender
Human Resources         No         Male       37
                                   Female     14
                        Yes        Female      6
                                   Male        6
Research & Development  No         Male      492
                                   Female    336
                        Yes        Male       90
                                   Female     43
Sales                   No         Male      203
                                   Female    151
                        Yes        Male       54
                                   Female     38
Name: count, dtype: int64

In [193]:

df.groupby(['JobRole', 'Attrition'])['Gender'].value_counts()

JobRole                    Attrition  Gender
Healthcare Representative  No         Male       76
                                      Female     46
                           Yes        Female      5
                                      Male        4
Human Resources            No         Male       30
                                      Female     10
                           Yes        Female      6
                                      Male        6
Laboratory Technician      No         Male      128
                                      Female     69
                           Yes        Male       46
                                      Female     16
Manager                    No         Male       52
                                      Female     45
                           Yes        Male        3
                                      Female      2
Manufacturing Director     No         Female     68
                                      Male       67
                           Yes        Male        6
                                      Female      4
Research Director          No         Male       46
                                      Female     32
                           Yes        Female      1
                                      Male        1
Research Scientist         No         Male      148
                                      Female     97
                           Yes        Male       30
                                      Female     17
Sales Executive            No         Male      157
                                      Female    112
                           Yes        Male       37
                                      Female     20
Sales Representative       No         Male       28
                                      Female     22
                           Yes        Male       17
                                      Female     16
Name: count, dtype: int64

In [194]:
df.groupby(['JobRole', 'Attrition'])['MonthlyIncome'].mean()

JobRole                    Attrition
Healthcare Representative  No            7453.557377
                           Yes           8548.222222
Human Resources            No            4391.750000
                           Yes           3715.750000
Laboratory Technician      No            3337.223350
                           Yes           2919.258065
Manager                    No           17201.484536
                           Yes          16797.400000
Manufacturing Director     No            7289.925926
                           Yes           7365.500000
Research Director          No           15947.346154
                           Yes          19395.500000
Research Scientist         No            3328.122449
                           Yes           2780.468085
Sales Executive            No            6804.617100
                           Yes           7489.000000
Sales Representative       No            2798.440000
                           Yes           2364.727273
Name: MonthlyIncome, dtype: float64

In [195]:
df.groupby(['JobRole','JobLevel', 'Attrition'])['MonthlyIncome'].mean()

JobRole                    JobLevel  Attrition
Healthcare Representative  2         No            5828.280000
                                     Yes           6792.000000
                           3         No            9426.282051
                                     Yes           8877.800000
                           4         No           13073.500000
                                     Yes          12169.000000
Human Resources            1         No            2871.260870
                                     Yes           2415.700000
                           2         No            5563.461538
                           3         No            9326.500000
                                     Yes          10216.000000
Laboratory Technician      1         No            2921.708333
                                     Yes           2682.000000
                           2         No            4394.000000
                                     Yes           5084.200000
                           3         No            6306.500000
                                     Yes           5381.000000
Manager                    3         No           12133.700000
                                     Yes          12729.500000
                           4         No           16613.276596
                           5         No           19159.575000
                                     Yes          19509.333333
Manufacturing Director     2         No            5644.870588
                                     Yes           5066.800000
                           3         No            9262.400000
                                     Yes           9664.200000
                           4         No           13383.000000
Research Director          3         No           12721.571429
                           4         No           16429.038462
                           5         No           19188.916667
                                     Yes          19395.500000
Research Scientist         1         No            2859.455026
                                     Yes           2694.066667
                           2         No            4822.345455
                                     Yes           4724.500000
                           3         No            9724.000000
Sales Executive            2         No            5760.218274
                                     Yes           6023.416667
                           3         No            9103.661290
                                     Yes           9202.764706
                           4         No           13125.200000
                                     Yes          13395.750000
Sales Representative       1         No            2603.659091
                                     Yes           2373.437500
                           2         No            4226.833333
                                     Yes           2086.000000
Name: MonthlyIncome, dtype: float64

In [196]:
df.groupby(['Education', 'Attrition'])['MonthlyIncome'].mean()

Education  Attrition
1          No           5926.129496
           Yes          4360.161290
2          No           6586.058824
           Yes          4282.545455
3          No           6882.919662
           Yes          4770.242424
4          No           7087.814706
           Yes          5335.155172
5          No           8559.906977
           Yes          5850.200000
Name: MonthlyIncome, dtype: float64